---
- name: Remove old $HOME/story-geth if exists
  ansible.builtin.file:
    path: "{{ user_dir }}/{{ daemon_geth }}"
    state: absent

- name: Download story-geth binary to $HOME/go/bin/story-geth
  ansible.builtin.get_url:
    url: "https://github.com/piplabs/story-geth/releases/download/{{ story_geth_version }}/geth-linux-amd64"
    dest: "{{ user_dir }}/go/bin/{{ daemon_geth }}"
    mode: "0755"
    force: true

- name: Download story binary to $HOME/go/bin/story
  ansible.builtin.get_url:
    url: "https://github.com/piplabs/story/releases/download/v{{ node_version }}/story-linux-amd64"
    dest: "{{ user_dir }}/go/bin/{{ daemon }}"
    mode: "0755"
    force: true

- name: Ensure story directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ user_dir }}/{{ folder }}/story"
    - "{{ user_dir }}/{{ folder }}/geth"

- name: Initialize cosmovisor for story
  ansible.builtin.command:
    cmd: >
      cosmovisor init {{ user_dir }}/go/bin/story
  args:
    creates: "{{ user_dir }}/.story/story/cosmovisor"
  environment:
    PATH: '{{ path }}'
    GOPATH: '{{ user_dir }}/go'
    DAEMON_NAME: "{{ daemon }}"
    DAEMON_HOME: "{{ user_dir }}/{{ folder }}/story"

- name: Ensure cosmovisor upgrade dir exists
  ansible.builtin.file:
    path: "{{ user_dir }}/{{ folder }}/story/cosmovisor/upgrades/{{ upgrade_folder }}/bin"
    state: directory
    mode: "0755"

- name: Download story binary for upgrade
  ansible.builtin.get_url:
    url: "https://github.com/piplabs/story/releases/download/v{{ node_version }}/story-linux-amd64"
    dest: "{{ user_dir }}/{{ folder }}/story/cosmovisor/upgrades/{{ upgrade_folder }}/bin"
    mode: "0755"
    force: true

- name: Initialize story node (only once)
  ansible.builtin.command:
    cmd: >
      story init
      --moniker {{ moniker }}
      --network {{ chain_id }}
  environment:
    PATH: '{{ path }}'
    GOPATH: '{{ user_dir }}/go'
  args:
    creates: "{{ user_dir }}/{{ folder }}/story/config/node_key.json"

