[Unit]
Description=Story Geth daemon
After=network-online.target

[Service]
User={{ ansible_user }}
ExecStart=$(which story-geth) --story --syncmode full \
--http --http.api eth,net,web3,engine --http.vhosts '*' \
--http.addr 0.0.0.0 --http.port {{ custom_port_prefix }}545 \
--authrpc.port {{ custom_port_prefix }}551 \
--ws --ws.api eth,web3,net,txpool \
--ws.addr 0.0.0.0 --ws.port {{ custom_port_prefix }}546 \
--port {{ custom_port_prefix }}303
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target

