- name: Make sure we have a 'wheel' group
  group:
    name: wheel
    state: present

- name: sudo without password for wheel group
  copy:
    content: '%wheel ALL=(ALL:ALL) NOPASSWD:ALL'
    dest: /etc/sudoers.d/wheel_nopasswd
    mode: 0440

- name: Add the user with a bash shell
  ansible.builtin.user:
    name: "{{ item.name }}"
    shell: /bin/bash
    groups: wheel,sudo
    createhome: true
    append: yes
    state: "{{ item.state }}"
  with_items: "{{ system_users }}"

- name: Set authorized key taken from file
  ansible.posix.authorized_key:
    user: "{{ item[0].name }}"
    key: "{{ item[1].pubkey }}"
    state: "{{ item[1].state }}"
  with_nested:
    - "{{ system_users }}"
    - "{{ ansible_ssh_public_keys }}"
